/* $Revision: 1.5 $ $Date: 2012/06/08 20:13:22 $ */
/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2012 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: resultsHeadings
**          Version : 7.2.0
**          Created : 15-OCT-2007
**      Orig Author : David Sellers
**    Last Modified : 21-AUG-2009
** Last Modified By : Mel Pemble
*/



/* Browse Bar Override*/
#browseHeaderbottom .browseHeader, #browseHeaderTop .browseHeader
{
    background-image: none;
    background-repeat: no-repeat;
}
/* Browse Bar Override*/


.title-wrapper {
    width: 88%;
}


/* Results Override */
.oddRow, .evenRow
{
    background-image: none;
    background-repeat: no-repeat;
    word-wrap: break-word;
}

.resultListTextCell
{
  width: 100%;
  word-wrap: break-word;
}

/* Results Override */




/* Results Headings */
.resultHeading a
{
   FONT-WEIGHT: bold;
   word-wrap: break-word;
   //text-overflow: ellipsis;
   //width: 25%;
   //border-style: dotted;
}

/* Results Titles and Type */
.resultTitle, .resultType
{
   margin: 5px 0px 0px 40px;
   padding: 0px 0px 0px 0px;
}

.resultTitleLabel, .resultTypeLabel
{
   FONT-WEIGHT: bold;
   margin: 0px 0px 0px -30px;
   padding: 0px 10px 0px 0px;
   float: left;
}

.resultTitleValue, .resultTypeValue
{
   overflow-y: hidden;
   overflow-x: hidden;
}
/* Results Titles and Type */

/* Results Headings */
.resultReferance, .resultAuthority
{
   margin: 5px 0px 0px 40px;
   padding: 0px 0px 0px 0px;
}

.resultReferanceLabel, .resultAuthorityLabel
{
   margin: 0px 0px 0px 0px;
   padding: 0px 10px 0px 0px;
   float: left;
}

.resultReferanceValue, .resultAuthorityValue
{
   overflow-y: hidden;
   overflow-x: hidden;
}
/* Results Headings */

.authTable
{
border: 1px solid #999999;
margin:0px;
padding:0px;
width: 100%;
background-color:#999;
border-collapse: collapse;
}
.authTable tr
{
margin:0px;
padding:0px;
background-color:white;
}

.authTable th
{
border: 1px solid #999999;
margin:0px;
padding:0px;
text-align: center;
}

.authTable td
{
border: 1px solid #999999;
margin:0px;
padding:0px;
border-right
}

.oddRowHeadingCount, .evenRowHeadingCount
{
    background-image: none;
    background-repeat: no-repeat;
    text-align:center;
}

.evenRowHeadingCount{
background-color: #EBEBEB;
}
.oddRowHeadingCount{
background-color: #FFF;
}

span.referenceTypeCode i
{
   margin:20px;
}